# Build configurations for the project
build --action_env=BAZEL_CXXOPTS="-std=c++17"
build --action_env=CC="clang"
# Disable warnings we don't care about or that generally have a low signal/noise
# ratio.
build --copt=-Wno-unused-function
build --host_copt=-Wno-unused-function